{% extends 'base.html.twig' %}

{% block body %}
	<h1>Calls ({{ calls | length }})</h1>

	<ul>
		{% for call in calls %}
			<li>
				{{ call.id }} / {{ call.number }}
				/ <a href="{{ path('home_delete', {id: call.id}) }}">Delete</a>
			</li>
		{% else %}
			<li>No one call...</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block stylesheets %}
	<style>
		body {
			background: #F5F5F5;
			font: 18px/1.5 sans-serif;
		}

		h1, h2 {
			line-height: 1.2;
			margin: 0 0 .5em;
		}

		h1 {
			font-size: 36px;
		}

		h2 {
			font-size: 21px;
			margin-bottom: 1em;
		}

		p {
			margin: 0 0 1em 0;
		}

		a {
			color: #0000F0;
		}
	</style>
{% endblock %}
